<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in UK/Ireland</h5>
          <p class="card-text">
            The United Kingdom is home to some of the best, the oldest, and the most prestigious universities and colleges in the world. As such, it is no wonder why having a British education will almost always guarantee you a spot at the company you’re applying for. But why exactly should you study in UK?
          </p>
          <p class="card-text">
            For starters, four of the top six universities in the world are in the UK and the quality of education in the country is widely recognized and lauded by employers and governments worldwide. The UK education system is flexible so you can study in a way that suits your lifestyle and career aspirations. And more importantly, by having a student visa in UK, you can get the rare opportunity to be taught by the world’s leading academics and experts.
            </p>
          <p class="card-text">
            Whether you’re studying at a university or participating in an internship in UK, you can get a lot of support as an international student. There are international offices you can visit and student societies you can join. Also, you can rely on counselors and advisers to help you feel welcome and supported. So don’t miss the chance to bask in a great learning environment. Study in UK now! 
          </p>  
        </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/uk.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner"><h2>Why Study in UK/IRELAND?</h2>
      <p>The United Kingdom has always been considered to be one of the centers of power in the world. The richness of its culture and vastness of its legacy is still prevalent in our times. If you are considering studying in the UK, bear in mind the following benefits you will take away from it:The UK is the 2nd most popular international student destination in the world.</p>
      <ul>
      <li>There are over 40,000 courses and research opportunities at UK universities, colleges, business and language schools.</li>
      <li>UK universities are ranked 3<sup>rd</sup> in the World University Ranking, which obviously makes the UK one of the premier locations for education.</li>
      <li>The Higher Educational system in the UK allows international students to gain the following degrees:
      <ul>
      <li><strong>Bachelor’s or undergraduate degree:</strong> This academic study is designed to help you gain a thorough understanding of a subject. Normally, it takes three years to complete (four in some cases) and there are different titles of degrees such as: Bachelor of Arts (BA), Bachelor of Science (BSc), Bachelor of Education (BEd) and Bachelor of Engineering (BEng).</li>
      <li><strong>Master’s degree:</strong> This gives you the opportunity to widen your knowledge of a particular area of study or to go in a completely different direction using the skills you’ve gained from your undergraduate studies. A master’s degree is an academic qualification awarded to individuals who successfully demonstrate a higher level of expertise in a particular field of study.</li>
      <li><strong>MBA courses:</strong> A Master of Business Administration (MBA) degree is an internationally recognised qualification that gives you the skills you need for a successful management career. MBA courses cover topics such as business policy and strategy, operational and strategic management, marketing, market research, finance and accounting, IT, human resource management, leadership, entrepreneurship, and international trade.</li>
      <li><strong>PhDs/Doctorates:</strong> A Doctor of Philosophy or doctorate (PhD/DPhil) is the highest academic level a student can achieve. These degrees are very demanding and often lead to careers in academia.</li>
      </ul>
      </li>
      <li>The UK is considered to be one of the safest countries to study in. The UK government’s rules and protection will extend to international students who reside within its boundaries.</li>
      <li>Historically speaking, the British education system has welcomed foreign students in its arms and is well-known for its accommodating and caring nature. You will be at ease and your stay in the country will be comfortable. Also, the country offers education that is cost-effective, which means you will get quality education at budget-friendly rates.</li>
      <li>It’s not all work and no play in the UK. Foreign students are allowed to do local activities and they are given the chance to roam around the country to see its spectacular sights such as:
      <ul>
      <li>Warwick Castle</li>
      <li>Tower of London</li>
      <li>Big Ben</li>
      <li>Stonehenge</li>
      </ul>
      </li>
      <li>Foreign students are also allowed to work while studying in United Kingdom, if it is presently stated on their passport sticker. Working hours are usually 20 hours a week if you are enrolled in an overseas higher education institution or a degree level course. Ten hours a week are given to those who are studying below degree level or are enrolled in a publicly funded further education college.</li>
      <li>The country’s minimum hourly rates depend on a person’s age. Here are the wage rates schematic:
      <ul>
      <li>Apprenticeship – £2.68 per hour</li>
      <li>Under 18 – £3.72</li>
      <li>18 to 20-year-olds – £5.03</li>
      <li>21 and over – £6.31</li>
      </ul>
      </li>
      <li>The fields of occupation that are in demand in the UK are:
      <ul>
      <li>Engineering</li>
      <li>Health Care</li>
      <li>Arts &amp; Entertainment</li>
      <li>Information Technology</li>
      </ul>
      </li>
      <li>The UK allows international students to work after graduating, but it is important to have a Tier 2 or a Tier 1 (Entrepreneur) visa to be able to stay and work in the country for a certain amount of time.</li>
      <li>A sample living costs in the UK can be computed as follow (this is on a 40-week basis):</li>
      </ul>
      <div class="table-box">
      <table class="table table-bordered table-striped">
      <tbody>
      <tr>
      <td>Accommodation</td>
      <td>£4,620</td>
      </tr>
      <tr>
      <td>Meals</td>
      <td>£1,450</td>
      </tr>
      <tr>
      <td>Clothes</td>
      <td>£400</td>
      </tr>
      <tr>
      <td>Local Transport</td>
      <td>£520</td>
      </tr>
      <tr>
      <td>Other Living Expenses</td>
      <td>£1,495</td>
      </tr>
      <tr>
      <td>Total</td>
      <td>£8,485</td>
      </tr>
      </tbody>
      </table></div>
  </div>
  </div>


