<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in Europe</h5>
          <p class="card-text">
            Europe is, by convention, one of the world’s seven continents. Comprising the westernmost peninsula of Eurasia, Europe is generally ‘divided’ from Asia by the watershed divides of the Ural and Caucasus Mountains, the Ural River, the Caspian and Black Seas, and the water ways connecting the Black and AegeanSeas. 
          </p>
          <p class="card-text">
            Europe is bordered by the Arctic Ocean to the north, the Atlantic Ocean to the west, the Mediterranean Sea to the south, and the Black Sea and connected waterways to the southeast. Yet the borders of Europe—a concept dating back to classical antiquity—are somewhat arbitrary, as the primarily physiographic term “continent” can incorporate cultural and political elements. </p>  
        </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/europe.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner"><h2>Why Study in Europe?</h2>
      <p>
        

Europe is the world’s second-smallest continent by surface area, covering about 10,180,000 square kilometres (3,930,000 sq mi) or 2% of the Earth’s surface and about 6.8% of its land area. Of Europe’s approximately 50 states, Russia is by far the largest by both area and population, taking up 40% of the continent (although the country has territory in both Europe and Asia), while the Vatican City is the smallest. Europe is the third-most populous continent after Asia and Africa, with a population of 733 million or about 11% of the world’s population.
      </p><p>
Europe, in particular Ancient Greece, is the birthplace of Western culture.[4] It played a predominant role in global affairs from the 15th century onwards, especially after the beginning of colonialism. Between the 16th and 20th centuries, European nations controlled at various times the Americas, most of Africa, Oceania, and large portions of Asia. Both World Wars were largely focused upon Europe, greatly contributing to a decline in Western Europeandominance in world affairs by the mid-20th century as the United States and Soviet Union took prominence.[5] During the Cold War, Europe was divided along the Iron Curtain between NATO in the west and the Warsaw Pact in the east. European integration led to the formation of the Council of Europeand the European Union in Western Europe, both of which have been expanding eastward since the fall of the Soviet Union in 1991

        </p>
    </div>
  </div>

 
            
            
            
            
            
            
          
