<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
        </ul>
      </div>
      </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <div class="card ">
          <div class="card-header">
            <h5 class="card-title text-center">Apply Online By Submitting Your Details</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
         
            <p class="card-text">Online Visa Application Form Submitted successfully. 
              We will start processing your Visa Application Soon !!</p>

              <h6 class="card-subtitle mb-2 text-muted">You can check your Visa Status in the right top corner of Home page.</h6>
            <a class="card-link" routerLink="">Go To Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
