<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in Malaysia</h5>
          <p class="card-text">
            Malaysia has top notch resources and offer quality education to ensure extra edge. Malaysia is today one of the biggest base for immigrants reasoning why study in Malaysia. The Malaysian education system is unrivalled with respect to choice as it has various types of institutions, degree programs and specialized subjects.
           </p><p class="card-text">
              Flexibility, variety of choices, culture, and resources are some of the things American universities can offer foreign students and interns, making USA a very popular destination for international education. Learning institutions are also known for their vibrant and colourful campus life that gives all students the freedom to explore their academic interests before choosing a particular field of study to specialise in.
            </p><p class="card-text">
              Whether you want to attend a university or pursue an internship in USA, there are a variety of funding opportunities you can take advantage of. Many US universities and external funding bodies provide scholarships for deserving and qualified students. If you look hard, you’ll be sure to find the means to fund your education. Study in USA or get an internship so you can develop the knowledge and skills you need to thrive and succeed in your chosen career.
           </p>
          </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/malaysia.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner">
      <div>
        <h5>Courses in Malaysia</h5>
        <p>
          The courses here include Associate Degree, bachelor’s degree. For bachelors degree students must clear SAT & TOEFL/IELTS. Master courses and Doctorate courses are from 3 to 5 years. The study cost will vary with courses and institutions.
        </p>
      </div>
      <div>
        <h5>About Colleges in Malaysia</h5>
        <p>
          There are top ranking in Malaysia. These rank high in their infrastructure, technological advancement and education top quality provided. The Malaysian education system allows one to earn and learn. The colleges ensure growth prospects and there are over 4000 institutions. We, Malaysian immigration consultants in Canada, will furnish you with details about colleges and its courses.
          </p>
      </div>
      <div>
        <h5>
          Work Opportunity in Malaysia</h5>
        <p>
          Malaysia offers high earning occupations as white collar professionals. We, Malaysia student visa consultants in Canada can give International student’s details on campus jobs that allow working 20 hrs per week and earning or getting a tuition fees waiver.
         </p>
      </div>
     </div>
  </div>

