<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in Singapore</h5>
          <p class="card-text">
            Singapore boasts of some of the most advanced universities and learning institutions in the Asia-Pacific region. In fact, it is voted as the third Best Student City in 2013 by TopUniversities.com. And with Singaporean universities consistently ranking amongst the world’s top 100 universities, this Southeast Asian country has been gaining a reputation as a go-to place for international students. Many are now seeking to study in Singapore, especially those who wish to pursue a career in the hospitality industry.
           </p>
          <p class="card-text">
            One of the advantages of studying or getting an internship in Singapore is that you have access to affordable education. Singapore is one of the most economically viable alternatives if you wish to pursue higher learning outside your home country. It also allows international students to seek employment while they are studying. So while you’re at an internship or pursuing a degree in hospitality, you can work at hotels and restaurants, see what the industry is really like, and obtain hands-on training and experience.
          </p>
          <p class="card-text">
            Study in Singapore to gain a competitive edge in your chosen career. Considered as one of the safest and greenest cities in the world, Singapore can provide you with the perfect environment that is conducive for learning.
          </p>  
        </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/sg.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner"><h2>Why Study in Singapore?</h2>
      <p>Singapore has been a rising supernova in the global economic scene. The quality of education in the country is considered to be one of the very best in the world and here are the reasons why you should choose to study in Singapore:</p>
<ul>
<li>Singapore has ranked third in the QS Best Student Cities List, making it one of the finest destinations for international students.</li>
<li>The country has 34 universities offering a wide array of courses that are available to international students.</li>
<li>Two universities from Singapore are included in the top ten of the World University Ranking System.</li>
<li>Singapore’s post-secondary system is quite unique and you’ll find a variety of educational options to choose from such as:
<ul>
<li>Junior Colleges/Centralised Institutes – prepare students to have the necessary skills in life, knowledge, and subject disciplines. This allows the students to be well-equipped to enter university.</li>
<li>Polytechnics – this gives you a hands-on educational experience within a dynamic and progressive learning environment.</li>
<li>Institutes of Technical Education – aim to equip its students with the technical skills and knowledge to meet the workforce needs of various industries. Whether you aspire to be a technician, an engineering assistant, or even a chef, you will find many interesting courses to choose from.</li>
<li>Universities – if you want to have a more intensive education after graduating from Junior Colleges, Polytechnics, or Institutes of Technical Education, you have the option to enter university.</li>
</ul>
</li>
<li>The country has a strong sense homeliness to it, which makes international students feel relaxed and comfortable. Also, the crime rate in Singapore is low, so you don’t have to worry about your safety.</li>
<li>Singaporean universities have partnered with British and American educational systems, which made it possible for international students to avail a UK or US degrees without having to spend a lot. That’s what you call value for money.</li>
<li>Singapore has a nice social scene and activities in the country are boundless. Also, the country is overflowing with exciting sights to see such as:
<ul>
<li>Singapore’s Merlion</li>
<li>Chinatown</li>
<li>Universal Studios Singapore</li>
<li>Boat Quay</li>
</ul>
</li>
<li>International students are allowed to work for a maximum of 16 hours a week while attending a college or university. They must have a Work Pass Exemption and all other necessary requirements to do so.</li>
<li>In Singapore, there is no minimum wage or salary. It is subject to negotiations and mutual agreements between the employer and the employee. Jobs that are in demand in Singapore are in the following fields:
<ul>
<li>Manufacturing</li>
<li>Construction</li>
<li>Health Care</li>
<li>Finance</li>
<li>Information Technology</li>
<li>Tourism</li>
</ul>
</li>
<li>International students can work in Singapore after graduating, as long as they file the correct visa application. You can either apply for professional, mid-level skilled worker, or semi-skilled worker passes.</li>
<li>The cost of living in Singapore can vary per individual. Here is a sample computation of living expenses for an international student on a monthly basis:</li>
</ul>
<div class="table-box">
<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>Accommodation</td>
<td>SGD 200-1,500</td>
</tr>
<tr>
<td>Food</td>
<td>300-400</td>
</tr>
<tr>
<td>Utilities</td>
<td>50-80</td>
</tr>
<tr>
<td>Publicc Transport</td>
<td>20-200</td>
</tr>
<tr>
<td>Telecommunication</td>
<td>30</td>
</tr>
<tr>
<td>Books &amp; Stationeries</td>
<td>30-100</td>
</tr>
<tr>
<td>Other Expenses</td>
<td>100-200</td>
</tr>
<tr>
<td>Total</td>
<td>SGD730-2,410/per month</td>
</tr>
</tbody>
</table>
</div></div>
  </div>
