<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in Canada</h5>
          <p class="card-text">
            The quality of education and living standards in Canada are considered amongst the highest in the world. But as compared to other developed countries like the United States and the United Kingdom, the cost of living in Canada and tuition fees for international students are generally lower. This is one of the qualities that make Canada a very attractive and ideal destination for foreign students seeking quality education.

           
          </p>
          <p class="card-text">
            With the United Nations consistently ranking Canada as one of the best places in the world to live in, many great things await those who will apply for a Canada student visa. The country prides itself in having high-calibre universities that offer degrees and diplomas for a wide range of technical and professional disciplines. Also, there are many institutions that offer internships in Canada, which are guaranteed to give students the boost they need when they graduate. 
           </p>  
        </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/canada_img1.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner"><h2>Why Study in Canada?</h2>
      <p>The importance of learning and having a high-quality educational system is a top priority in Canada. Those who want to study here can surely expect a very rewarding experience. Benefits for international students are as follows:</p>
<ul>
<li>Canada ranked 7th as the most popular student destination in the entire world.</li>
<li>With a wide variety of courses offered by 90 universities and 150 colleges and institutions, you will have the power to choose any program you want.</li>
<li>Canadian universities are considered to be among the best in the worldwide educational system, giving their students only the greatest kind of education. Universities in Canada are part of the Top 50 Academic Ranking of World Universities.</li>
<li>International students will be exposed to a variety of experiences when they enter a Canadian university, which teaches its students how to think critically, become adaptive to the latest technology and trends, and to become globally competent in their chosen fields. The basic level of study are as follows:
<ul>
<li>Bachelor’s Degree normally takes three to four years of undergraduate study.</li>
<li>Master’s Degree includes a thesis, practicum, research papers and course-based activities. This level takes about one to two years of study.</li>
<li>Doctoral Degree is usually taken up after a Master’s Degree and normally requires a thesis. It takes three years to have this degree.</li>
</ul>
</li>
<li>Being an international student in Canada, you will also enjoy the same freedom which protects Canadians such as equality, a peaceful society, and respect for human rights.</li>
<li>With Canada being a global leader on software development, engineering, telecommunication, biotechnology, and environmental industries, you will definitely be exposed to the country’s advanced and highly successful industries. These experiences make studying at Canadian universities a great value for your money.</li>
<li>International students will also see a lot of famous sites in the country during their semester breaks and they can do a lot of fun activities native to the country such as skiing, snowboarding, and mountain climbing. Here are some locations you can visit:
<ul>
<li>Mont Royal Park in Montreal</li>
<li>Grandville Island in Vancouver</li>
<li>Niagara Falls in Ontario</li>
<li>Harbourfront Centre in Toronto</li>
</ul>
</li>
<li>In Canada, you are also able to work while you’re studying and you have the option to apply for either an on or off-campus job.
<ul>
<li>Campus jobs are available to you if:
<ul>
<li>You are registered as a full-time student at a public post-secondary institution (college, university, CEGEP).</li>
<li>You are registered as a full-time student at a private post-secondary institution that operates under the same rules and regulations as a public institution, and receives at least 50% of its financing from government grants.</li>
<li>You are registered as a full-time student at a Canadian private institution authorised by provincial statute to grant degrees.</li>
<li>You have a valid study permit.</li>
</ul>
</li>
<li>Off-campus jobs are available to you if:
<ul>
<li>You are registered as a full-time student at a participating publicly funded post-secondary educational institution or in an approved program at an eligible privately funded institution.</li>
<li>You have applied for your work permit and have received it.</li>
<li>You are only working up to 20 hours per week during regular academic sessions and full time during scheduled breaks (for example, winter and summer holidays or spring break).</li>
</ul>
</li>
<li>The minimum wage in Canada differs in each province. It ranges from $10 to $11 per hour, which is a great starting point for any employee. The country also offers valuable and in-demand job positions such as:
<ul>
<li>Engineering managers</li>
<li>Financial and investment analysts</li>
<li>Geoscientists and oceanographers</li>
<li>Civil engineers</li>
<li>Mechanical engineers</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>Canada offers a post-graduation work permit that gives international students a chance to participate in a post-secondary institution program, which will provide valuable work experiences. The skills that you will gain through this will definitely help you qualify for permanent residency in the country.</p>
<p>A sample monthly cost of living in Canada can be computed as follow:</p>
<div class="table-box">
<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>Rent</td>
<td>$400</td>
</tr>
<tr>
<td>Groceries</td>
<td>$100</td>
</tr>
<tr>
<td>Utilities</td>
<td>$100</td>
</tr>
<tr>
<td>Phone</td>
<td>$100</td>
</tr>
<tr>
<td>Other Expenses</td>
<td>$200</td>
</tr>
<tr>
<td>Total</td>
<td>$900</td>
</tr>
</tbody>
</table>
</div>
    </div>
  </div>

 
            
            
            
            
            
            
          
