<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in Australia</h5>
          <p class="card-text">
            Australian universities are known for providing students with top-quality education. 
            This is one of the reasons why people from many parts of the globe are seeking to secure a student visa for Australia. 
          </p>
          <p class="card-text">
            In fact, the country is the third most popular destination for international students despite having a population of only 23 million people. And with the Australian government investing 200 million AUD in international scholarships annually, including scholarships for a Master’s degree, no one can easily pass up the opportunity to get higher education from some of the best educational institutions in the country.
          </p>  
        </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/australia_img1.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner"><h2>Why Study in Australia?</h2>
      <p>Australia’s impressive educational system, facilities, and instructors made the country the global education powerhouse it is today. International students prefer the wonders of the &#8220;land of kangaroos” because of the following benefits:</p>
      <ul>
      <li>Being ranked as the 3 most popular international student destination, it is certain that Australia’s educational system will provide you with only with the best.</li>
      <li>Australia is home to 1,100 institutions with 22,000 courses available within your reach. You will be able to choose what you want to take up and your future will be brighter than ever.</li>
      <li>Australia also ranked 8 place in the International University Ranking System. Seven out of 100 top universities in the world are in Australia, which will definitely give you the greatest advantage when you’re applying for a job.</li>
      <li>Australia’s level of study is one of the best in the world because of its high standards, giving you more opportunities in your career. Here’s how it works
      <ul>
      <li>Vocational Education and Training or VET is designed to give students the opportunity to learn specific skills and qualifications for all kinds of employment.</li>
      <li>Graduate Certificates and Graduate Diplomas (Level 8). Graduate certificates and graduate diplomas in Australia take approximately one year after earning a Bachelor level degree (level 7). Whether you have a certificate or a diploma is dependent only on the school; there is no real difference between each. After you complete a certificate or diploma at level 8, you will have the skills you need for advanced job positions or for further postgraduate education.</li>
      <li>Master’s Degrees (Level 9). Master’s degrees are one of the higher levels of postgraduate education. These degrees are usually focused on research and academia instead of advancement in the work force.</li>
      <li>Doctorate Degrees (Level 10). Doctorate degrees are the highest level of education that you can receive in the world. This is the 10th level in Australia’s AQF system and can include PhD’s, M.D.’s, DPT’s, law degrees, DDS’s, and a variety of other degrees, each named for the profession(s) that the degree is related to.</li>
      </ul>
      </li>
      </ul>
      <ul>
      <li>Educational pathways are also available to international students who are not yet qualified for the courses they want. Australia offers vocational and training courses that may help you achieve your goals. An example of this is the Foundation Studies program, which is a one-year intensive preparatory course given by various institutions. This will give you the necessary skills for you to enter the university and take up the course you want.</li>
      <li>Australia’s Education Services for Overseas Students protects the wellbeing, rights, and security of international students. The country itself was rated a 9.3 out of 10 for safety by the OECD Better Life Index, making it the safest country in the world. Australian institutes will make sure that your stay in the country is top-notch and secure.</li>
      <li>Studying in Australia is definitely worth every penny because of the insurmountable education and unforgettable experiences you will have. An Australian education will assure you a prominent future in the field you would like to enter.</li>
      <li>Australia is home to some of the world’s most popular tourist spots. Foreign students are allowed a six to eight-week semester break so they could explore the beauty of the continent. Here are some of the things you could visit in the country while you study:
      <ul>
      <li>The Sydney Opera House</li>
      <li>Jenolan Caves</li>
      <li>Perth Zoo</li>
      <li>Kakadu National Park</li>
      <li>Lake Monger</li>
      <li>Tasmania’s exotic wild life</li>
      <li>Great Barrier Reef</li>
      </ul>
      </li>
      <li>If you want to get more out of your stay in Australia while earning an income, you should definitely try working while studying. The country allows students to work in the limit of 40 hours per fortnight when their course studies are in session and unlimited hours if they are not in session.</li>
      <li>After graduation, you can definitely apply for work in Australia. The current minimum wage in Australia is $640.90 a week, giving you loads of opportunities to earn as much as $2,800 a month. This will definitely help you achieve the life you want. Also, the country’s in demand jobs include:
      <ul>
      <li>Life Sciences Professionals</li>
      <li>Certified Accountants</li>
      <li>Information Technology Specialists</li>
      <li>Engineering Managers</li>
      <li>Land Economists</li>
      <li>Child Care Centre Manager</li>
      <li>Educational instructors</li>
      </ul>
      </li>
      <li>Australia provides international students with the opportunity to work in the country for a short amount of time. After graduating, students who are interested in finding local employment can apply for a Temporary Graduate Visa (Subclass 485) and has two streams:
      <ul>
      <li>Graduate Work Stream – this allows eligible international students who have the necessary skills listed in the Skill Occupation List to work in the country for 18 months from the date of the grant.</li>
      <li>Post Study Work Stream – this is given to students who graduated with a higher education degree. This option is only available for students who were granted their first student visa on or after November 5, 2011. It allows the student to work in the country for up to four years.</li>
      </ul>
      </li>
      <li>Here are some of the basic things you’ll need to consider if you plan on studying in Australia (for a more detailed description of the living costs in the country,
      <ul>
      <li>Accommodations – it is important that you have a place to stay while you are in the country. There are plenty of accommodation options available in Australia like hostels, renting, home-staying, and in campus dorms.</li>
      <li>Other Living Expenses – also consider the expenses for food, electricity, phone, internet, public transport (if you are not living near the university), and entertainment.</li>
      </ul>
      </li>
      <li>Here’s a sample computation of your living cost:
      <ul>
      <li>Accommodation = $80 per week</li>
      <li>Other Living Expenses = $370 per week</li>
      <li>$450 per week</li>
      </ul>
      </li>
      </ul></div>
  </div>


