<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in NewZealand</h5>
          <p class="card-text">
            With the growing number of people wanting to study in New Zealand, the country is quickly emerging as one of the best go-to places for international students looking for quality education. Over the years, it has gained quite a reputation as a safe learning environment that provides excellent study opportunities and support services for foreign students. Applying for a student visa gives you access to a wide range of courses available for academic, professional, and vocational studies at universities, polytechnics, and colleges. There are also various public and private training institutions that offer internship in New Zealand. </p>
          <p class="card-text">
            But one of the best things that New Zealand can offer is its progressive education system for international students, particularly those who wish to pursue a nursing career in the future. With many state-of-the-art facilities and institutions spearheading technological developments, many are applying for a student visa so they can arm themselves with valuable knowledge and skills that will help them establish a successful career in the health care and nursing sectors.  </p>
          <p class="card-text">
            New Zealand offers the best of both worlds: the sophistication of a cosmopolitan country and an easygoing, adventurous lifestyle. It is no wonder why thousands of students, including nursing students, are choosing to study in New Zealand to improve their chances of making it big in the global marketplace. </p>  
        </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/nz.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner"><h2>Why Study in NewZealand?</h2>
      <p>Being the world’s most peaceful country, New Zealand is also a popular destination for getting top-quality education. Foreign students who enroll in the country’s universities will be able to take advantage of the following benefits:</p>
<ul>
<li>New Zealand ranked 8 in The Learning Curve global education report, making the country one of the best when it comes to education. You will surely be given the greatest education out there if you choose to study in New Zealand.</li>
<li>The country prides itself with having eight prestigious universities, 18 technology institutions, and over 600 training schools available. New Zealand’s higher education has a variety of courses for you to choose from.</li>
<li>Seven universities from New Zealand were featured in QS World University Ranking, making the country’s higher education really up to par with those offered by other top nations.</li>
<li>The country’s level of study are classified as follows:
<ul>
<li>New Zealand’s universities present a wide range of subjects for undergraduates, masters, and doctoral degrees. The country also has specialised universities that focus on a specific field of study such as medicine, engineering, law, veterinary science, agriculture, and environmental studies. International students are given the opportunity to be taught by the leading experts in these fields.</li>
</ul>
</li>
<li>Professional Master’s Degree. These degrees give liberal arts or nonspecific degree holders the chance to take classes that will allow them to work in a different field of study.</li>
<li>Traditional Master’s Degree. Degrees like these help students widen their knowledge of a specific field.</li>
<li>Graduate Certificates. Graduate certificates take approximately one year of extra coursework after completing your Bachelor’s degree.</li>
<li>Doctorate Degrees. These degrees are the highest level of education, no matter where in the world you take them.
<ul>
<li>Institutes of technology and polytechnics are really popular in the country and they are focused on giving only the best vocational and applied qualifications for international students. They offer certifications through postgraduate level in basic and professional skills, with industry experts and employers training students to ensure their employability.</li>
<li>Private training institutions also provide approved higher education courses that cover design, information technology, and tourism.</li>
</ul>
</li>
<li>International students are secured in the country because New Zealanders are known for their accommodating, loving, and caring nature. They are known to treat foreigners as friends, which only add to the charm of the country. The lifestyle in the country is amazingly laid back and hassle free.</li>
<li>The economy of New Zealand is stable. Combine that with its amazing education and stunning sceneries, choosing to study in this country is worthwhile.</li>
<li>Adventures are waiting to be discovered if you study in New Zealand. You will definitely be enchanted with the things you can do outside of the classroom. The country allows foreign students to experience its natural wonders and adrenaline-pumping activities such as bungee jumping, white water rafting, jet boating, and many more. Here are some of the country’s most popular attractions:
<ul>
<li>Coromandel Peninsula</li>
<li>Abel Tasman National Park</li>
<li>Milford Sound</li>
<li>Tongariro National Park</li>
</ul>
</li>
<li>With your student visa, you are given the chance to work up to 20 hours a week in a semester and up to 40 hours during vacations. You don’t need to worry about your finances because you will have extra income that can help you pay for your education.</li>
<li>If you want to work in New Zealand after graduating, you should expect that the current minimum wage in the country is $570 for 40 hours a week. Here are some of the most in demand jobs in New Zealand:
<ul>
<li>Forest Scientists</li>
<li>Construction Project Managers</li>
<li>University Lecturers</li>
<li>Chemical Engineers</li>
<li>Geotechnical Engineers</li>
<li>Procurement Managers</li>
<li>Life Scientists</li>
<li>Registered Nurses</li>
</ul>
</li>
<li>New Zealand offers an option for students that will allow them to work in the country after graduating. The Study to Work program is designed for applicants who meet the country’s health and character requirements. There are two types of Post Study Work Visas that you will be able to acquire:
<ul>
<li>Post Study Work Visa (Open) – is extended for international students who graduated without any job offers given to them. This is open only for a maximum of 12 months.</li>
<li>Post Study Work Visa (Employer Assisted) – is given to graduates who have jobs offered to them. It allows them to work in the country for the maximum period of two or three years.</li>
</ul>
</li>
<li>The country’s cost of living can be segregated into two categories:
<ul>
<li>Housing – You will be in need of a home while you’re in New Zealand and you have a variety of options to choose from. Make your decision according to your preferences and your needs.</li>
<li>Necessities – food, clothing, public transportation, electricity, internet, etc.</li>
</ul>
</li>
<li>Here’s a sample computation of your living costs in New Zealand (for 40 weeks):</li>
</ul>
<div class="table-box">
<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>Rent</td>
<td>$5,460</td>
</tr>
<tr>
<td>Groceries</td>
<td>$2,800</td>
</tr>
<tr>
<td>Electricity/Gas</td>
<td>$800</td>
</tr>
<tr>
<td>Internet Cost</td>
<td>$180</td>
</tr>
<tr>
<td>Total</td>
<td>$9,240</td>
</tr>
</tbody>
</table>
</div></div>
  </div>
