<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/vob/logo_resize.png" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
  
        <ul class="navbar-nav" style="float: right;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home
              <!--<span class="sr-only">(current)</span>--></a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>
</div>
  <div class="container">
    <div class="row">
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Study in USA</h5>
          <p class="card-text">
            Like the United Kingdom, the United States is home to some of the top 10 universities in the world such as Harvard, UCLA, and MIT. The quality of US education is also one of the best and the country is a known global leader in research and technology. Being able to study in USA or get an internship almost always gives you the guarantee that you’ll be accepted for the job that you’re applying for.
            </p><p class="card-text">
              Flexibility, variety of choices, culture, and resources are some of the things American universities can offer foreign students and interns, making USA a very popular destination for international education. Learning institutions are also known for their vibrant and colourful campus life that gives all students the freedom to explore their academic interests before choosing a particular field of study to specialise in.
            </p><p class="card-text">
              Whether you want to attend a university or pursue an internship in USA, there are a variety of funding opportunities you can take advantage of. Many US universities and external funding bodies provide scholarships for deserving and qualified students. If you look hard, you’ll be sure to find the means to fund your education. Study in USA or get an internship so you can develop the knowledge and skills you need to thrive and succeed in your chosen career.
           </p>
          </div>
        
      </div>
      
      <div class="card">
        <img class="card-img" src="../../assets/vob/moreinfo/usa.jpg" alt="Card image">
      </div>
    </div>
    </div>
  </div>
   
  <div class="container">
    <div class="et_pb_text_inner"><h2>Why Study in USA?</h2>
      <p>The economic powerhouse that is the United States of America prides itself with its outstanding educational system. For years, the country has been moulding young minds into becoming professional experts and global leaders. Here are some of the benefits you will take away when you study in the US:</p>
<ul>
<li>The United States of America is the No 1 international student destination.</li>
<li>There are over 4,600 institutions that provide thousands of courses for international students to choose from. Whether you want to be a scientist, entrepreneur, engineer, doctor, or theatre performer, the country’s fields of study are almost limitless.</li>
<li>Majority of the universities in the USA are the leading institutions in the World University Ranking System.</li>
<li>The country’s level of higher education is considered to be one of the best in the world. US institutions offer the following degrees:
<ul>
<li>Undergraduate Degree takes about four years to accomplish and its main purpose is to deepen the knowledge of students in their chosen field.</li>
<li>Master’s Degree takes about two to three years to obtain. There are two basic kinds of a Master’s Degree: Master of Arts and Master of Science. In general, master’s degrees require you to complete six to eight advanced courses, in addition to completing an intensive study project and/or a thesis.</li>
<li>Doctoral Degree can take four to six years to finish. It is the highest and most prestigious academic credential an international student can get in the US.</li>
</ul>
</li>
<li>Cultural diversity is ever present in the country’s universities, enriching campus life. This will give you a sense of belongingness and comfort. It is also important to note that the US government protect the rights of international students, who are given the same freedom as the locals.</li>
<li>Those with degrees from US universities are sought after by international employers because studying in the US will boost an international student’s level of confidence and cross-cultural communication skills. This makes your education worth it.</li>
<li>Foreign students are also given the chance to explore the numerous states of the country and their corresponding attractions, like:
<ul>
<li>Disneyland in California</li>
<li>New York’s Time Square</li>
<li>Mount Rushmore in South Dakota</li>
<li>Grand Canyon in Arizona</li>
</ul>
</li>
<li>International students who want to work while studying must consult with the country’s US Citizenship and Immigration Services to know the necessary requirements and rules they have to follow.</li>
<li>The country’s minimum wage mainly depends on the state and it is subject to differences. Being employed in the country is surely worthwhile. USA’s most in demand occupations are:
<ul>
<li>Network Analysts</li>
<li>Biomedical Engineers</li>
<li>Sales Professionals</li>
<li>Computer Administrator</li>
<li>Software Developers</li>
</ul>
</li>
<li>International students who are planning on working in the country must consult with the US Immigration to know the correct visa to file. The United States of America offers a variety of options for new international graduates. Employers are open for applications and the work conditions in the country are superb.</li>
<li>The estimated monthly cost of living for students in America can vary, but here is a sample computation:</li>
</ul>
<div class="table-box">
<table class="table table-bordered table-striped">
<tbody>
<tr>
<td>Rent</td>
<td>$400</td>
</tr>
<tr>
<td>Groceries</td>
<td>$100</td>
</tr>
<tr>
<td>Utilities</td>
<td>$100</td>
</tr>
<tr>
<td>Phone</td>
<td>$100</td>
</tr>
<tr>
<td>Other Expenses</td>
<td>$200</td>
</tr>
<tr>
<td>Total</td>
<td>$900</td>
</tr>
</tbody>
</table>
</div></div>
  </div>
